<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div>
    <div class="nav-bar-container">
      <a href="/form">Add Employee</a>
      <a href="/add-client">Add Client</a>
      <a href="/add-client-trial">Add Client Trial</a>
    </div>
  </div>

  <form action="/form" method = "POST">
    <p>email <input type = "text" name = "email" /></p>
    <p>password <input type = "text" name = "password" /></p>
    <p>permissions <input type = "text" name = "permissions" /></p>
    <p><input type = "submit" value = "Submit" /></p>
 </form>
</body>
</html>